<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.10" targetFramework="net461" />
  <package id="AngleSharp.Scripting.JavaScript" version="0.5.1" targetFramework="net461" />
  <package id="Jint" version="2.11.58" targetFramework="net461" />
  <package id="JSON" version="1.0.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
</packages>